.menu {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--background-color);
    z-index: 10;
    display: flex;
    justify-content: center;

    .menuWrapper {
        max-width: 1920px;
        width: 100%;
        padding: 30px 40px;
        display: flex;
        justify-content: space-between;

        .navBlock,
        .socBlock {
            width: 500px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }

        .socBlock {
            align-items: flex-end;
            .mailForMob {
                display: none;
            }
            >i {
                transition: transform .3s;
                padding: 12px;

                &:hover {
                    transform: rotate(-90deg);
                }
            }

            .socLink {
                text-decoration: underline;
                color: #fb6542;
                font-size: 64px;
                font-weight: 600;
                margin-top: 40px;
            }

            .requestBtn {
                margin: 1px 6px;
                display: block;
                width: 300px;
                height: 300px;
                border-radius: 50%;
                background-color: #fb6542;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                font-size: 36px;
                text-align: center;
                font-weight: 900;
            }
        }

        .navBlock {
            .closeBtnMob {
                display: none;
                transition: transform .3s;

                &:hover {
                    transform: rotate(-90deg);
                }

                &:active {
                    transform: rotate(-90deg);
                }
            }

            .menuList {
                .menuItem {
                    display: block;
                    color: #fff;
                    text-decoration: none;
                    margin-bottom: 50px;
                    font-size: 72px;
                    cursor: pointer;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .mail {
                color: #fff;
                font-size: 36px;
                margin-left: 7px;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 1670px) {
    .menu {
        .menuWrapper {
            padding: 30px 35px;

            .navBlock {
                .menuList {
                    .menuItem {
                        margin-bottom: 20px;
                        font-size: 52px;
                    }
                }

                .mail {
                    font-size: 24px;
                }
            }

            .socBlock {
                .socLink {
                    font-size: 42px;
                }

                .requestBtn {
                    width: 250px;
                    height: 250px;
                    font-size: 26px;
                }
            }
        }
    }
}

@media (max-width: 1470px) {
    .menu {
        .menuWrapper {
            .navBlock {
                .menuList {
                    .menuItem {
                        margin-bottom: 30px;
                        font-size: 52px;
                    }
                }

                .mail {
                    font-size: 26px;
                }
            }

            .socBlock {
                .socLink {
                    font-size: 56px;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .menu {
        .menuWrapper {
            padding: 30px 40px;
        }
    }
}

@media (max-width: 768px) {
    .menu {
        .menuWrapper {
            padding: 30px 25px;
        }
    }
}


@media (max-width: 600px) {
    .menu {
        .menuWrapper {
            padding: 30px 16px;
            flex-direction: column;

            .navBlock {
                display: block;
                height: auto;

                .closeBtnMob {
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                }

                .menuList {
                    margin-top: 60px;

                    .menuItem {
                        margin-bottom: 20px;
                        font-size: 42px;
                    }
                }

                .mail {
                    display: none;
                }
            }

            .socBlock {
                margin-top: 50px;
                align-items: flex-start;

                .mailForMob {
                    cursor: pointer;
                    display: block;
                    margin-top: 30px;
                    color: #fff;
                    font-size: 24px;
                    margin-bottom: 30px;
                }

                .requestBtn {
                    width: 130px;
                    height: 130px;
                    font-size: 16px;
                    margin-top: 30px;
                    order: -1;
                }

                >i {
                    display: none;
                }
            }
        }
    }
}