.caseContainer {
    // margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1350px;
    margin: 50px auto;

    .caseColumn {
        width: 49%;
        min-height: 500px;

        &:first-child {
            margin-right: auto;
        }
    }
}

@media (max-width: 768px){
    .caseContainer {
        .caseColumn {
            width: 100%;
        }
    }
}

@media (max-width: 600px){
    .caseContainer {
        .caseColumn {
            width: 100%;
        }
    }
}