.filterBtn {
    display: flex;
    align-items: center;
    margin-left: auto;

    .btnRect {
        width: 25px;
        height: 25px;
        border: 3px solid #fff;
        border-radius: 3px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        margin-right: 32px;
        cursor: pointer;
        transition: .3s;
        background: transparent;

        &.active {
            background: white;
        }
    }

    .line {
        width: 80px;
        height: 0;
        border: 1px solid #fff;
        margin-right: 32px;
        transition: .3s;

        &.active {
            width: 0px;
            margin-right: 0px;
            border: 1px solid transparent;
        }
    }

    .text {
        color: #fff;
        letter-spacing: .02em;
        font-size: 48px;
        cursor: pointer;
        transition: .3s;

        &.active {
            color: #fb6542;
        }
    }
}

@media (max-width: 600px) {
    .filterBtn {
        margin-top: 20px;

        .line {
            display: none;
        }

        .text {
            font-size: 24px;
        }

        .btnRect {
            width: 20px;
            height: 20px;
        }
    }
}