.casePage {
    padding: 20px 60px 0;
    max-width: 1550px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: content-box;

    .fitstRect {
        margin-left: 60%;
        width: 45px;
        height: 45px;
        border-radius: 5px;
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
        border: 4px solid #fff;
    }

    .header {
        margin-top: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        // max-width: 1350px;
        // margin-left: auto;
        // margin-right: auto;
        .title {
            margin: 0;
            color: white;
            font-size: 150px;
            letter-spacing: 2px;
            font-weight: 900;

        }
    }
}

@media (max-width: 1470px) {
    .casePage {
        .header {

            .title {
                font-size: 120px;
            }
        }
    }
}

@media (max-width: 768px) {
    .casePage {
        padding: 20px 40px 0px;
    }
}



@media screen and (max-width: 1023px) and (orientation: landscape) and (max-width: 850px) and (orientation: landscape) {
    .casePage {
        padding: 20px 60px 0px;
    }
}

@media (max-width: 1024px) {
    .casePage {
        .header {
            flex-direction: column;

            .title {
                width: 100%;
                font-size: 90px;
            }
        }
    }
}

@media (max-width: 768px) {
    .casePage {
        .header {
            .title {
                font-size: 70px;
            }
        }
    }
}

@media (max-width: 600px) {
    .casePage {
        padding: 5px 16px 0px;

        .header {
            margin-top: 10px;

            .title {
                font-size: 38px;
            }
        }

        .fitstRect {
            width: 25px;
            height: 25px;
            border: 2px solid #fff;
        }

    }
}