.header {
    height: 120px;
    width: 100%;
    padding: 0;
    align-items: center;
    display: flex;
    line-height: normal !important;
    justify-content: center;
    background-color: rgba(19, 18, 18, .8);
    position: sticky;
    z-index: 2;
    top: 0;
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    -o-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

    .headerWrapper {
        max-width: 1920px;
        width: 100%;
        align-items: center;
        display: flex;
        padding: 0 60px;
    }

    .content {
        margin-left: calc(140px - 50px);

        .headerLink {
            outline: 0;
            color: white;
            font-size: 20px;
            text-transform: uppercase;
            text-decoration: none;

            &.headerLinkActive {
                color: #fb6542;
            }

            &:not(:last-child) {
                margin-right: 32px;

            }
        }
    }

    .menuBtn {
        margin-left: auto;
    }
}

@media (max-width: 1024px) {
    .header {
        .headerWrapper {
            padding: 0 40px;
        }

        .content {
            .headerLink {
                &:not(:last-child) {
                    margin-right: 20px;

                }
            }
        }
    }
}

@media (max-width: 768px) {
    .header {
        .headerWrapper {
            padding: 0 40px;
        }

        .content {
            display: none;
        }
    }
}

@media (max-width: 600px) {
    .header {
        .headerWrapper {
            padding: 0 16px;
        }

        height: 80px;
    }
}

@media screen and (max-width: 1023px) and (orientation: landscape) and (max-width: 850px) and (orientation: landscape) {
    .header {
        height: 60px;

        .content {
            margin-left: calc(80px - 50px);

            .headerLink {
                font-size: 16px;
            }
        }
    }
}