.caseCard {
    width: 655px;
    height: 530px;
    margin-bottom: 25px;
    background-color: green;
    border-radius: 25px;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    &:hover {
        >img {
            opacity: 0;
        }

        .description {
            opacity: 1;
        }
    }

    &.caseBig {
        height: 665px;
    }

    &.caseMedium {
        height: 635px;
    }

    >img {
        transition: all .3s;
        width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    .description {
        padding: 0 40px 50px;
        width: 100%;
        position: absolute;
        opacity: 0;
        transition: all .3s;

        .title {
            font-size: 52px;
            font-weight: 900;
            color: white;
        }

        .text {
            color: white;

            margin-top: 40px;
            font-size: 20px;
            line-height: 1.4;
        }
    }
}


@media (max-width: 1670px) {
    .caseCard {
        width: 100%;
        height: 422px;

        .description {
            padding: 0 35px 35px;

            .title {
                font-size: 42px;
            }
            .text{
                margin-top: 30px;
            }
        }

        &.caseBig {
            height: 500px;
        }

        &.caseMedium {
            height: 480px;
        }
    }
}

@media (max-width: 1470px) {
    .caseCard {
        width: 100%;
        height: 382px;

        .description {
            padding: 0 15px 15px;

            .title {
                font-size: 32px;
            }
        }

        &.caseBig {
            height: 480px;
        }

        &.caseMedium {
            height: 420px;
        }
    }
}

@media (max-width: 1024px) {
    .caseCard {
        .description {
            padding: 0 15px 20px;

            .text {
                margin-top: 18px;
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 768px) {
    .caseCard {
        width: 100%;
        height: 452px;

        &.caseBig {
            height: 452px;
        }

        &.caseMedium {
            height: 452px;
        }
    }
}

@media (max-width: 600px) {
    .caseCard {
        width: 100%;
        height: 250px;

        .description {
            padding: 0 8px 25px;

            .title {
                font-size: 20px;
            }

            .text {
                margin-top: 8px;
                font-size: 12px;
            }
        }

        &.caseBig {
            height: 250px;
        }

        &.caseMedium {
            height: 250px;
        }
    }
}