.caseFilters {
    width: 100%;
    margin-top: 45px;
    padding-right: 100px;
    justify-content: space-between;
    display: flex;
    // max-width: 1350px;
    // margin-left: auto;
    // margin-right: auto;

    .caseFiltersRect {
        margin-top: 25px;
        width: 65px;
        height: 65px;
        border: 4px solid #fff;
        border-radius: 5px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .caseFiltersContent {
        width: 0%;
        min-height: 500px;
        display: none;

        &.active {
            display: flex;
            flex-wrap: wrap;
            width: 92%;
            justify-content: center;
            animation: slidein .3s;
        }

        .filterCatrgory {
            min-width: 25%;
            width: 25%;
            padding-bottom: 50px;

            // &:last-child {

            //     .filterCatrgoryTitle,
            //     .filterItem {
            //         padding-left: 20px;
            //     }
            // }

            .filterCatrgoryTitle {
                color: white;
                font-size: 24px;
                font-weight: 900;
                padding-bottom: 39px;
                margin-bottom: 20px;
                border-bottom: 2px solid white;

            }

            .filterItem {
                margin-bottom: 20px;
                font-size: 24px;
                color: white;
            }
        }
    }
}

@keyframes slidein {
    from {
        width: 0;
        opacity: 0;
    }

    to {
        width: 92%;
        opacity: 1;
    }
}

@media (max-width: 1024px) {
    .caseFilters {
        .caseFiltersContent {
            .filterCatrgory {
                min-width: 45%;
                width: 45%;
                .filterCatrgoryTitle{
                    padding-bottom: 20px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .caseFilters {
        .caseFiltersContent {
            .filterCatrgory {
                .filterItem {
                    font-size: 18px;
                }
            }
        }
    }
}

@media (max-width: 600px){
    .caseFilters {
        .caseFiltersContent {
            .filterCatrgory {
                min-width: 100%;
                width: 100%;
                padding-left: 30px;
                .filterCatrgoryTitle{
                    font-size: 18px;
                    padding-bottom: 20px;
                }
            }
            &.active {
                width: 100%;
            }
        }
        @keyframes slidein {
            from {
                width: 0;
                opacity: 0;
            }
        
            to {
                width: 100%;
                opacity: 1;
            }
        }
    }
    .caseFilters {
        .caseFiltersRect {
            display: none;
        }
    }
}
