.footer {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    padding-bottom: 100px;

    .footerWrapper {
        max-width: 1350px;
        width: 100%;

        .footerTitle {
            color: #fff;
            font-size: 36px;
            text-align: center;
            font-weight: 900;
        }

        .line {
            width: 2px;
            height: 60px;
            opacity: .5;
            background-color: #fff;
        }

        .mail {
            font-size: 96px;
            color: #fff;
            cursor: pointer;
            width: 100%;
            text-align: center;
        }

        .info {
            .region {
                font-size: 24px;
                color: #fff;
                font-weight: 900;
            }

            .address {
                font-size: 24px;
                margin-top: 10px;
                line-height: 33.6px;
                color: #fff;
            }

            .phone {
                margin-top: 10px;
                cursor: pointer;
                color: #fb6542;
                font-size: 24px;
                font-weight: 400;
            }
        }
    }

    .additionalInfo {
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .social {
        display: flex;
        flex-direction: column;
        align-items: center;

        .label {
            color: #fff;
            text-align: center;
            font-size: 32px;
            font-weight: 500;
            margin-bottom: 10px;
        }

        .btnSoc {
            cursor: pointer;
        }
    }

    .info,
    .social {
        width: 400px;
    }

    .btn {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background-color: #fb6542;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 36px;
        text-align: center;
        font-weight: 900;
    }

}


@media (max-width: 1670px) {
    .footer {
        .btn {
            width: 250px;
            height: 250px;
            font-size: 26px;
        }
    }
}

@media (max-width: 1470px) {
    .footer {
        .footerWrapper {
            .mail {
                font-size: 80px;
            }
        }


        .additionalInfo {
            margin-top: 60px;
            flex-direction: column;

            .info {
                margin-top: 60px;
                text-align: center;
            }

            .btn {
                order: -1;
            }

            .social {
                margin-top: 50px;
            }
        }
    }
}

@media (max-width: 768px) {
    .footer {
        .footerWrapper {
            .mail {
                font-size: 60px;
            }
        }
        .additionalInfo {
            .info {

                .region,
                .address,
                .phone {
                    font-size: 18px;

                }
            }

            .social {
                .label {
                    font-size: 18px;
                }
            }

        }
    }
}

@media (max-width: 600px) {
    .footer {
        .footerWrapper {
            .footerTitle{
                font-size: 16px;
            }
            .mail {
                font-size: 32px;
            }
        }
        .btn {
            width: 130px;
            height: 130px;
            font-size: 16px;
        }
    }
}